
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or src/globals.css */
@font-face {
    font-family: 'Avenir';
    src: url('./assets/fonts/AvenirLTStd-Black.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Avenir';
    src: url('./assets/fonts/AvenirLTStd-Heavy.otf') format('otf');
    font-weight: bold;
    font-style: normal;
  }
@font-face {
    font-family: 'Avenir';
    src: url('./assets/fonts/AvenirLTStd-Light.otf') format('otf');
    font-weight: light;
    font-style: normal;
  }
  
@font-face {
font-family: 'Mogena';
src: url('./assets/fonts/Mogena.ttf') format('truetype');
font-weight: normal;
font-style: normal ;
}
  
@layer base {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    border: 2px solid transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
  }
}

:root {
    font-family: "Avenir", sans-serif;;
    /* color-scheme: dark; */
}
body {
    @apply bg-offWhite
}
/* @layer components {
    .navbar-item {
        @apply text-xs font-semibold leading-6 text-white drop-shadow-md
        rounded-md px-3 py-2 
        hover:opacity-75 transition-all duration-150 ease-linear
    }
} */